@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&display=swap');


body {

  background-color: #000;
  font-family: 'Poppins', sans-serif;

}

.todo-container {
  background-color: #fff;
  width: 50%;
  margin: 10% auto;
  border-radius: 10px;
  padding: 30px;

  .add-item-input {
    border-radius: 5px;
    border-style: solid;
    border-color: #20b2aa; 
    margin-right: 20px;
    height: 35px;
    width: 200px;
    padding: 10px;
  }

  .add-item-btn {
    border-radius: 5px;
    border: none;
    background-color:  #20b2aa; 
    height: 40px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
}

.todo-item {
 list-style: none;
 padding-left: 0;

  button {
    width: 95px;
    height: 40px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }

  .completed-btn {

    background-color: #5D9DDE;

  }

  .deleted-btn {

    background-color: #FA69C9;

  }

  .archive-btn {
    background-color: #7A73F5;
  }


}



